<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Timeout') }}</label>
        <div class="controls">
        <div class="input-append">
            <input type="number" class="input-mini text-right" class="input-block-level" data-bind="value: $root.settings.settings.plugins.mmu2filamentselect.timeout">
            <span class="add-on">{{ _('seconds') }}</span>
            </div>
            <span class="help-block"><small>{{ _('After this given time, the dialog closes and the action selected below will be performed.') }}</small></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Timeout action') }}</label>
        <div class="controls">
            <select name="pluginMMU2FilamentSelectDefaultAction" data-bind="value: $root.settings.settings.plugins.mmu2filamentselect.timeoutAction">
                <option value="printerDialog">{{ _('ask on printer') }}</option>
                <option value="cancelPrint">{{ _('cancel print') }}</option>
                <option value="0">{{ _('use filament 1') }}</option>
                <option value="1">{{ _('use filament 2') }}</option>
                <option value="2">{{ _('use filament 3') }}</option>
                <option value="3">{{ _('use filament 4') }}</option>
                <option value="4">{{ _('use filament 5') }}</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Filament label source') }}</label>
        <div class="controls">
            <label class="radio">
            <input type="radio" name="pluginMMU2FilamentSelectLabelSource" data-bind="checked: $root.settings.settings.plugins.mmu2filamentselect.labelSource, enable: $root.filamentManager !== null" value="filamentManager">{{ _('Query from <a target="_blank" href="https://github.com/OllisGit/OctoPrint-FilamentManager">Filament Manager Plugin</a>') }}
            <!-- ko if: $root.filamentManager !== null -->
            <span class="text-success">{{ _("(installed)") }}</span>
            <!-- /ko -->
            <!-- ko if: $root.filamentManager === null -->
            <span class="text-error">{{ _("(not installed)") }}</span>
            <!-- /ko -->
            </label>
            <label class="radio">
            <input type="radio" name="pluginMMU2FilamentSelectLabelSource" data-bind="checked: $root.settings.settings.plugins.mmu2filamentselect.labelSource, enable: $root.spoolManager !== null" value="spoolManager">{{ _('Query from <a target="_blank" href="https://github.com/OllisGit/OctoPrint-SpoolManager">Spool Manager Plugin</a>') }}
            <!-- ko if: $root.spoolManager !== null -->
            <span class="text-success">{{ _("(installed)") }}</span>
            <!-- /ko -->
            <!-- ko if: $root.spoolManager === null -->
            <span class="text-error">{{ _("(not installed)") }}</span>
            <!-- /ko -->
            </label>
            <label class="radio">
            <input type="radio" name="pluginMMU2FilamentSelectLabelSource" data-bind="checked: $root.settings.settings.plugins.mmu2filamentselect.labelSource" value="manual">{{ _('Use manually specified names below') }}
            </label>
        </div>
    </div>

    <h4>{{ _('Filament labels') }}</h4>
    <span class="help-block"><small>{{ _('If the names are not queried from the another plugin the names listed below will be used.') }}</small></span>
    <div class="control-group">
        <label class="control-label">{{ _('Filament 1') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: $root.settings.settings.plugins.mmu2filamentselect.filament1">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Filament 2') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: $root.settings.settings.plugins.mmu2filamentselect.filament2">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Filament 3') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: $root.settings.settings.plugins.mmu2filamentselect.filament3">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Filament 4') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: $root.settings.settings.plugins.mmu2filamentselect.filament4">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Filament 5') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: $root.settings.settings.plugins.mmu2filamentselect.filament5">
        </div>
    </div>

</form>